<footer id="footer" class="footer" role="contentinfo">

    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h3>Quick Links</h3>
                <ul class="list-unstyled quick-links">
                    <li><a href="/"><i class="fa fa-angle-double-right"></i>Home</a></li>
                    <li><a href="/tshirt"><i class="fa fa-angle-double-right"></i>T-Shirt</a></li>
                    <li><a href="/belt"><i class="fa fa-angle-double-right"></i>Belt</a></li>
                    <li><a href="/shoes"><i class="fa fa-angle-double-right"></i>Shoes</a></li>
                    <li><a href="/wallet"><i class="fa fa-angle-double-right"></i>Wallets</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h3>Social</h3>
                <ul class="list-unstyled quick-links">
                    <li><a href="/"><i class="fa fa-angle-double-right"></i>VK</a></li>
                    <li><a href="/"><i class="fa fa-angle-double-right"></i>Inst</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h3>For developers</h3>
                <ul class="list-unstyled quick-links">
                    <li><a href="/developer"><i class="fa fa-angle-double-right"></i>Developer</a></li>
                </ul>
            </div>
        </div>

        <div class="col-md-12 copyright text-center">
            <p>&copy; 2021 All Rights Reserved. <br> Demo Images by <a href="http://unsplash.com/" target="_blank" rel="noopener noreferrer">Unsplash</a></p>
        </div>
    </div>
</footer>